@model Nc.JuniorDeveloperExam.Models.BlogPost
@using React.AspNet;
@using System.Text.Json;
@{
    Layout = "layout";
}

<div class="container">
    <div class="row">

        <!-- Blog post content -->
        @Html.React("BlogPost", new
        {
            title = Model.Title,
            date = Model.Date.ToString("MMMM d, yyyy"),
            image = Model.Image,
        })

        <!-- Html string requires sanitation before it can be rendered in a React component -->
        <!-- (In order to safeguard against XSS attacks) -->
        @Html.Raw(Model.HtmlContent)


        <!-- Blog post comment form -->
        @Html.React("Comments", new
       {
           postId = Model.Id,
           comments = JsonSerializer.Serialize(Model.Comments),
       })

        <!-- Blog post comments -->
        
    </div>
</div>

