@{
    Layout = "layout";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Welcome to the NetConstruct Blog</h1>
            <p>Please visit /blog/blogpost/ID, with the ID of the post you'd like to read.</p>
        </div>
    </div>
</div>