body {
    padding-top: 56px;
}

.user-avatar {
    max-width: 50px;
}

.img-placeholder {
    background-image: url("/Users/nickbenson/Documents/devLocal/NetConstruct/Nc.JuniorDeveloperExam/Nc.JuniorDeveloperExam/App_Data/Blog-Posts.json");
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}